<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head') %>
    <title>Athena ◆ Inserir Resultados da Avaliação</title>
    <link rel="stylesheet" href="../css/inserirResultados.css">
</head>
<body>
    <%- include('partials/cabecalho') %>
    <main>
        <h1 class="titulo">Inserir Resultados</h1>
        <%- include('partials/libras') %>
        <form class="form_avaliacao" action="" method="POST" enctype="application/x-www-form-urlencoded">
        <fieldset class="form_materia">
            <label for="materia" class="titulo_selecao_da_materia">Aluno</label>
            <select id="materia" class="selecao_de_materia" name="aluno" required>
                <option value="" selected disabled hidden>Selecione</option>
                <% for (let aluno of alunos) { %>
                    <option value=<%= aluno.id_aluno %>><%= aluno.nome %></option>
                <% } %>
            </select>
        </fieldset>

        <h2 class="questoes_por_assunto_titulo">Respostas</h2>

        <div class="questoes_por_assunto">
            <% for(bloco of blocos){ %>
            <div class="assunto">
                <p class="assunto_nome"><%= bloco.nome_area %></p>
                <input class="assunto_input" type="number" name="acertos" placeholder="Quantidade" required>
                <input type="hidden" name="numBloco" value="<%= bloco.num_bloco %>" required>
            </div>
            <% } %>
        </div> 

        <button type="submit" class="botao_primario botao_salvar">Salvar</button>
    </form>
    </main>
</body>
</html>