<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suas Turmas</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/turmas.css">
    <link rel="stylesheet" href="../css/cabecalho.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../js/cabecalho.js"></script>
</head>
<body>
    <%- include('cabecalho') %>
    <main>
        <h1 class="suas_turmas">Suas Turmas</h1> 
        <div class="filtro">
            <input class="filtro_botao" type="checkbox" id="filtro">
            <label for="filtro" class="filtro_header">Filtrar por matéria <img class="filtro_imagem" src="../assets/icone_filtro.png" alt="Ícone de filtro"></label>
            <div class="filtro_lista">
                <% for (let profDisciplina of profDisciplinas) { %>
                <div class="filtro_lista_checkbox">
                    <input class="checkbox" type="checkbox" id="<%= profDisciplina.nome %>">
                    <label class="label" for="<%= profDisciplina.nome%>"><%= profDisciplina.nome %></label>
                </div>
                <% } %>
            </div>
        </div>

        <section class="turmas">
            <div class="turmas_cards">
                <% for (let i = 0; i < turmas.length; i++) { %>
                <article class="card_turma">
                    <p class="card_turma_tag"><a href="#">Editar</a></p>
                    <a href="/turmas?idTurma=<%= turmas[i].id_turma %>">
                        <figure class="card_turma_img">
                            <div class="card_turma_bg"></div>
                            <img src="https://nova-escola-producao.s3.amazonaws.com/rj7MCqsaaaSMsQzdU6srCuNp5Fep4VaeBksJWKk54HdwnKTF7y2KRfRC9JtS/coluna-paula-sestari.jpg" alt="" class="card_img">
                        </figure>
                        <div class="card_turma_info">
                            <p>[<%= disciplinas[i].nome %>] <%= turmas[i].nome %></p>
                            <p class="card_txt">Média Geral: XX</p>
                            <p class="card_txt">Defasagem Média: XX</p>
                        </div>
                    </a>
                </article>
                <% } %>
            </div>
        </section>

        <!-- <p class="grafico">Gráfico da Média</p>
        <button class="botao_primario">Detalhar</button>
        <p class="grafico">Gráfico da Defasagem</p>
        <button class="botao_primario">Detalhar</button> -->
        
        <div class="botao_cadastrar">
            <button onclick="window.location.href='/turmas/cadastrar'" class="cadastrar_nova_turma">Cadastrar nova turma</button>
        </div>
    </main>
</body>
</html>